	<!-- Three columns of text start -->
					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement1">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631272/KakaoTalk_20160502_171244207_us8m5g.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.4 성북구]</h3>
							<h4>나와 나의 연탄고리</h4>

						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement2">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631338/111_wyjhm1.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.12 남양주]</h3>
							<h4>한마음 요양원 봉사</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement3">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631340/112212121_lvsnuz.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.20 창신동]</h3>
							<h4>벽화그리기</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

				</div>
				<!-- row end -->
				<!-- Three columns of text end-->
				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement4">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631340/983703_897967203655742_362816842999575506_n_gusqg5.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.7.20~ 동대문구]</h3>
							<h4>한 부모가정 1대1 멘토링</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement5">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633017/12038332_1494304860894103_2260642862050238791_n_sq6rqj.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.30 서울역]</h3>
							<h4>서울역 자원봉사</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement6">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633016/1385879_1575604149323465_5304337439331286783_n_cev7p3.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3><[2016.6.25 인천]></h3>
							<h4>주안동 주민센터</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

				</div>
				<!-- row end -->
				<!-- Three columns of text end-->
				<!-- Three columns of text end-->