	<!-- Three columns of text start -->
					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement1">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631272/KakaoTalk_20160502_171244207_us8m5g.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.4 성북구]</h3>
							<h4>나와 나의 연탄고리</h4>

						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement2">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631338/111_wyjhm1.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.12 남양주]</h3>
							<h4>한마음 요양원 봉사</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement3">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631340/112212121_lvsnuz.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.20 창신동]</h3>
							<h4>벽화그리기</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

				</div>
				<!-- row end -->
				<!-- Three columns of text end-->
				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement4">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631340/983703_897967203655742_362816842999575506_n_gusqg5.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.7.20~ 동대문구]</h3>
							<h4>한 부모가정 1대1 멘토링</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement5">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633017/12038332_1494304860894103_2260642862050238791_n_sq6rqj.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.30 서울역]</h3>
							<h4>서울역 자원봉사</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="volunteerelement6">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633016/1385879_1575604149323465_5304337439331286783_n_cev7p3.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3><[2016.6.25 인천]></h3>
							<h4>주안동 주민센터</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

				</div>
				<!-- row end -->
				<!-- Three columns of text end-->
				<!-- Three columns of text end-->
				
				
				
				
	<nav class="navbar navbar-wrapper container-fluid">
		<div class="container">
			<div class="container marketing">
				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="talentelement1">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631963/%EC%B5%9C%EC%A2%852KakaoTalk_20160518_111102625_iq2ovh.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.5.30 대학로]</h3>
							<h4>힐링되는 [꽃꽂이]</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="talentelement2">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463631963/%EC%B5%9C%EC%A2%852KakaoTalk_20160518_111101282_jvqnvx.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.5.31 뚝섬]</h3>
							<h4>시원한바람을 가르며! [보드]</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="talentelement3">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633016/12341109_832658303519938_3484098083384247489_n_sw3z1j.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.3.25 성남]</h3>
							<h4>아름다운 선율소리~ [기타]</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

				</div>
				<!-- row end -->
				<!-- Three columns of text end-->

				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4">
						<a href="#">
							<div class="talentelement4">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633016/563879_100375653454835_2077601454_n_b4ask4.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.7.14 용산구]</h3>
							<h4>박태환이 되어보자! [수영]</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="talentelement5">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633016/13012611_1694535007463405_5368205076847269190_n_mhjxht.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.3.25 이천]</h3>
							<h4>손으로 느끼는 자연~ [도자기공예]</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

					<div class="col-md-4">
						<a href="#">
							<div class="talentelement6">
							</div> <img class="img-circle"
							src="http://res.cloudinary.com/dszrkgsd0/image/upload/v1463633016/12417850_1661081080818145_4497078552158803187_n_ylkhqk.jpg"
							alt="Generic placeholder image" width="100" height="100">
							<h3>[2016.6.11 홍대]</h3>
							<h4>나만의 it아이템~ [손팔찌]</h4>
						</a>
					</div>
					<br>
					<!-- /.col-md-4 -->

				</div>
				<!-- row end -->
				<!-- Three columns of text end-->
			</div>
		</div>
	</nav>