<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>Voluntal :: main</title>
	<!-- YJ CSS file-->
			<link rel="stylesheet" href="stylesheets/voluntal.css">
	<!-- Bootstrap core JavaScript start-->
			<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<link href="stylesheet/bootstrap.css" type="text/css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<!-- Bootstrap core JavaScript end-->
</head>
<body>
<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" style="">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a href="/"><div class=logoimage></div></a>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar" style="">
				<ul class="nav navbar-nav navbar-left">
					<!--<li class="active"><a href="#section1" class="scroll"><strong>Voluntal이란?</strong></a></li>
					<li><a href="#section2" class="scroll"><strong>Volunteer</strong></a></li>
					<li><a href="#section3" class="scroll"><strong>Talent</strong></a></li>
					<li><a href="#section4" class="scroll"><strong>Voluntal만들기</strong></a></li>-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:user_id].nil? %>
						<li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> <strong>Sign Up </strong></a></li>
						<li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> <strong>Login </strong></a></li>
					<% else %>
						<li><a href="/users/mypage"><span class="glyphicon glyphicon-user"></span> <strong>My Page</strong></a></li>
						<li><a href="/users/logout_complete"><span class="glyphicon glyphicon-log-out"></span> <strong>Log Out</strong></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->

<!-- Voluntal 등록하기 start -->
	<br><br>
	<div class="contentbackground">
		<div class="contentinsidebackground container">
			<div class="row">
				<h2 align="center"><strong>Voluntal을 등록해보세요!</strong></h2>
			</div>
			<hr width="100%" style="border: solid 1px #FF7648;">
			<div class="row">
				<div class="col-md-4">
					<h3 style="color:#FF7648"><strong>기본정보 입력 (필수)</strong></h3>
				</div>
				<div class="col-md-8"></div>
			</div>
			<form action="/voluntal/register_process" method="post" class="form-horizontal" enctype="multipart/form-data">
				
				<!-- 제목 -->
				<div class="row">
					<label class="col-md-2 control-label">Voluntal 제목</label>
					<div class="col-md-10">
						<input type="text" class="form-control" name="title" placeholder="이해하기 쉽게 간결하게 적어주세요!">
					</div>
				</div><br>
				
				<!--카테고리 (구분)-->
				<div class="row">
					<label class="col-md-2 control-label">Voluntal 형태</label>
					<div class="col-md-5 radio">
							<label><input type="radio" name="category" value="Voluntal" checked=""><strong>Volunteer</strong></label>
					</div>
					<div class="col-md-5 radio">
							<label><input type="radio" name="category" value="Talent"><strong>Talent</strong></label>
					</div>
				</div><br>
				
				<!--사람수 -->
				<div class="row">
					<label for="select" class="col-md-2 control-label">Voluntal 인원</label>
					<div class="col-md-10">
						<select class="form-control" name="num_people">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div><br>
				
				<!--호스트 정보-->
				<div class="row">
					<label for="host_info" class="col-md-2 control-label">호스트 정보</label>
					<div class="col-md-10">
						<textarea type="text" class="form-control" name="host_info" rows="8" placeholder="이력, 경력, 노하우 등 자신을 알릴 수 있는 정보를 적어주세요!"></textarea>
					</div>
				</div><br>
				
				<!-- 볼룬탈 정보-->
				<div class="row">
					<label for="host_info" class="col-md-2 control-label">Voluntal 소개</label>
					<div class="col-md-10">
						<textarea type="text" class="form-control" name="vol_info" rows="8" placeholder="자신의 Voluntal을 소개해 주세요!"></textarea>
					</div>
				</div><br>
				
				<!--일정-->
				<div class-"row">
					<label for="host_info" class="col-md-2 control-label">시작날짜와 종료날짜</label>
					<div class="col-md-5">
						<input type="date" class="form-control" name="start_time">
					</div>
					<div class="col-md-5">
						<input type="date" class="form-control" name="end_time">
					</div>
				</div><br><br>
				
				<!--장소-->
				 <div class="row">
					<label for="inputEmail" class="col-md-2 control-label">Voluntal 장소</label>
					<div class="col-md-10">
						<input type="text" class="form-control" name="place" placeholder="위치를 자세하게 적어주시면 지도에 반영됩니다!">
					</div>
				</div><br>
				
				<!--커버 사진-->
				<div class="row">
					<div class="col-md-4">
						<h3 style="color:#FF7648"><strong>커버 사진 업로드 (필수)</strong></h3>
					</div>
					<div class="col-md-8"></div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p>커버 사진으로는 크기가 900x500이상인 고화질 사진이 필요합니다.<br>
						자신의 Voluntal을 가장 잘 보여줄 수 있는 사진으로 신중하게 선택 해주세요!</p>
					</div>
					<div class="col-md-6">
						<div class="filebox bt-cover_pic">
							<label for="ex_file2"> <span class="glyphicon glyphicon-picture"> </span>  커버 사진 등록하기 </label>
							<input type="file" id="ex_file2" name="cover_pic">
						</div>
					</div>
				</div><br>
				
				<!--추가 사진 업로드-->
				<div class="row">
					<div class="col-md-4">
						<h3 style="color:#FF7648"><strong>추가 사진 업로드 (선택)</strong></h3>
					</div>
					<div class="col-md-8"></div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<p>자신의 Voluntal을 자세히 보여주는 사진들을 선택해주세요<br>
						올려주신 사진 순서대로 보여지게 됩니다.</p>
					</div>
					<div class="col-md-7">
							<div class="filebox bt-cover_pic">
								<label for="ex_file2"> <span class="glyphicon glyphicon-picture"> </span> 추가 사진 등록하기 </label>
								<input type="file" id="ex_file2" name="pic1">
							
								<label for="ex_file2"> <span class="glyphicon glyphicon-picture"> </span> 추가 사진 등록하기 </label>
								<input type="file" id="ex_file2" name="pic2">
								
								<label for="ex_file2"> <span class="glyphicon glyphicon-picture"> </span> 추가 사진 등록하기 </label>
								<input type="file" id="ex_file2" name="pic3">
							</div>
					</div>
				</div><br><br><br>
				
				<!--만들기 / 취소 -->
				<div class="row" align="center">
					<button type="submit" class="btn btn-md submit_button"> <span class="glyphicons glyphicons-ok-circle"></span>만들기 </button>
					<a href="/" class="btn btn-md btn-default"> 취소 </a>
				</div>
				
			</form>
		</div>
	</div>
<!-- Voluntal 등록하기 end -->	

<!-- Voulutal 푸터 start -->
	<footer class="footer" style="background-color:#FFAB80">
		<div class="container">
			<br>
			<div class="col-md-9">
				<p class="text-muted">&copy; Voluntal and WB.YJ  All rights reserved.</p>
			</div>
			<div class="col-md-3">
				<p class="text-muted">Join Us on      
					<a href="http://facebook.com/woongbini">   WB's  <i class="icon-large icon-facebook"></i></a> / 
					<a href="https://goo.gl/BFzCQY">  YJ's  <i class="icon-large icon-facebook"></i> </a>
				</p>
			</div>
		</div>
	</footer>
<!-- Voulutal 푸터 end -->

</body>
