<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>Voluntal :: main</title>
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript end-->
	<style>
		body {
      		position: relative; 
      	
  		}
	</style>
</head>
<body>
<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top" >
		<div class="container-fluid" style="">
		    <div class="navbar-header">
			    <a href="/"><img src="http://i.imgur.com/lLUOX2C.jpg?1" alt="logo" class="img-rounded"></a>
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              		<span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
		        </button>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar" style="" >
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/intro/intro"><strong>Voluntal이란?</strong></a></li>
					<li><a href="#section1" class="scroll"><strong>Volunteer</strong></a></li>
					<li><a href="#section2" class="scroll"><strong>Talent</strong></a></li>
					<li class="active"><a href="#"><strong>Voluntal 만들기</strong></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				    <li><a href="/addmember/addmember"><span class="glyphicon glyphicon-user"></span><strong> Sign Up</strong> </a></li>
				    <li><a href="/login/login"><span class="glyphicon glyphicon-log-in"></span><strong>  Login</strong></a></li>
				</ul>
			</div>
    	</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->

<!-- Voluntal 만들기 start -->
<form class="form-horizontal">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<!-- create coluntal end -->

</body>