<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
    	<div class="container-fluid"style="">
    	    <div class="navbar-header">
    	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <!--  <span class="sr-only">Toggle navigation</span>-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    	         </button>
    		<font font-weight="4" size="3px" color="black" face="맑은고딕">
    		    <img src="http://i.imgur.com/lLUOX2C.jpg?1" alt="logo" class="img-rounded">
    			 <!--   <a class="navbar-brand navbar-center" href="#" style="">http://i.imgur.com/1SyjJAu.jpg?1</a>-->
    			</div>
    	<div class="navbar-collapse collapse" id="myNavbar" style="" >
    			<ul class="nav navbar-nav">
    				<li><a href="/intro/intro">Voluntal이란?</a></li>
    				<li><a href="#myCarousel" class="scroll">Volunteer</a></li>
    				<li><a href="#testing1" class="scroll">Talent</a></li>
    				<li class="active"><a href="#">Voluntal 만들기</a></li>
    			</ul>
    		<ul class="nav navbar-nav navbar-right">
    		    <li><a href="/addmember/addmember"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    		    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    
    		    <!--
    			<li><button type="button" style="width: 122px; height: 45px"
    					class="btn btn-info">로그인</button></li>
    			<li><button type="button" style="width: 122px; height: 45px"
    					class="btn btn-danger">
    					<a href="/addmember/creatmember">회원가입</a>
    			</button></li>	-->
    		</ul>
    	</div>
        </div>

    </nav>
    
</body>