<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>title</title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
		
	
		
		
		
		
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<!-- Bootstrap core JavaScript end-->
	
	<style type="text/css">

		
	</style>
	
</head>
<body style="background-color:#ffb380">
<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" >
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a href="/"><div class=logoimage></div></a>
			</div>
			<div class="navbar-collapse collapse basicfont2" id="myNavbar" style="">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#section1" class="scroll"><strong class="toolbarcolor">Voluntal이란?</strong></a></li>
					<li><a href="#section2" class="scroll"><strong class="toolbarcolor">Volunteer</strong></a></li>
					<li><a href="#section3" class="scroll"><strong class="toolbarcolor">Talent</strong></a></li>
					<li><a href="#section4" class="scroll"><strong class="toolbarcolor">Voluntal만들기</strong></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:user_id].nil? %>
						<li><a href="#signup" id="testclick1"><span class="glyphicon glyphicon-user"></span><strong class="toolbarcolor">Sign Up </strong></a></li>
						<li><a href="#login"  id="testclick2"><span class="glyphicon glyphicon-log-in"></span><strong class="toolbarcolor">Login </strong></a></li>
					<% else %>
						<li><a href="/users/mypage"><span class="glyphicon glyphicon-user"></span> <strong class="toolbarcolor">My Page</strong></a></li>
						<li><a href="/users/logout_complete"><span class="glyphicon glyphicon-log-out"></span> <strong class="toolbarcolor">Log Out</strong></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->

<br><br><br><br>

<!-- 개인정보 보여주기 start-->
	<div class="container" >
		<div class="row" >
			<div class="col-md-9 sidebar2">
				<div class="row">
					<div class="col-md-12">
						<h1 style ="color : #FF7648">회원정보 수정</h1> 
					</div>
				</div>
					<form action="/users/edit_complete" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<p> Email : <input type="text" name="email" placeholder="<%= @user_ed.email %>">	</p>
			</div>
			<div class="form-group">
				<p> Password : <input type="password" name="password"></p>
			</div>
			<div class="form-group">
				<p> Password Confirm : <input type="password" name="re_password"></p>
			</div>
			<div class="form-group">
				<p> Phone : <input type="text" name="phone" placeholder="<%= @user_ed.phone %>"></p>
			</div>
			<div class="form-group">
				<p> Nickname : <input type="text" name="nickname" placeholder="<%= @user_ed.nickname %>"></p>
			</div>
				<div class="form-group">
					<label class="control-label" for="inputSmall">Profile Photo</label>
					<input type="file" class="btn btn-default" name="profile_pic" placeholder="Profile Photo" class="form-control input-sm">
				</div>
			<div>
				<input type="submit" value="수정하기" class="Modified_button">
			</div>

			</div>
		</div>
	</div>
<!-- 개인정보 보여주기 end-->	

<!-- Voulutal 푸터 start -->
	<footer class="footer2" style="background-color:#FFAB80 ">
		<div class="container">
			<br>
			<div class="col-md-9">
				<p class="text-muted">&copy; Voluntal and WB.YJ  All rights reserved.</p>
			</div>
			<div class="col-md-3">
				<p class="text-muted">Join Us on      
					<a href="http://facebook.com/woongbini">   WB's  <i class="icon-large icon-facebook"></i></a> / 
					<a href="https://goo.gl/BFzCQY">  YJ's  <i class="icon-large icon-facebook"></i> </a>
				</p>
			</div>
		</div>
	</footer>
<!-- Voulutal 푸터 end -->

</body>
