<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>page_title</title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
		<link rel="stylesheet" href="stylesheets/style.css">
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript end-->
</head>
<body>
<!-- 로그인 폼 start -->
	<div class="form-inline" align="center">
			<h4>Voluntal에 오신것을 환영합니다!</h4>
			<p><strong style="color:#ff751a">Voluntal</strong>은 재능과 봉사활동을 <br>나누는 서비스입니다</p>
			<form action="/users/login_complete" method="post" class="form-horizontal">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="form-group col-md-10">
						<input type="text" name="email" placeholder="Email" class="form-control input-sm">	
					</div>
					<div class="col-md-1"></div>
				</div><br>
				
				<div class="row">
					<div class="col-md-1"></div>
					<div class="form-group col-md-10">
						<input type="password" name="password" placeholder="Password" class="form-control input-sm" >
					</div>
					<div class="col-md-1"></div>
				</div><br>
				
				<div class="row" align="center">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<button type="submit" class="btn submit_button btn-xs">로그인</button>
					</div>
					<div class="col-md-3"></div>
				</div>
			</form>	
	</div>
<!-- 로그인 폼 end -->
</body>