<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>title</title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript end-->
	
	<style type="text/css">

		
	</style>
	
</head>
<body>
<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" style="">
			<div class="navbar-header">
				<!--<a href="/"><img src="http://i.imgur.com/XqSDoFN.png" width="190px" height="50px" alt="logo" class="img-rounded"></a>-->
				<a href="/"><div class="logoimage"></div></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar" style="">
				<ul class="nav navbar-nav navbar-left">
				    	<!--<li class="active"><a href="#section1" class="scroll"><strong>Voluntal이란?</strong></a></li>
					<li><a href="#section2" class="scroll"><strong>Volunteer</strong></a></li>
					<li><a href="#section3" class="scroll"><strong>Talent</strong></a></li>
					<li><a href="#section4" class="scroll"><strong>Voluntal만들기</strong></a></li>-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:user_id].nil? %>
						<li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> <strong>Sign Up </strong></a></li>
						<li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> <strong>Login </strong></a></li>
					<% else %>
						<li><a href="/users/mypage"><span class="glyphicon glyphicon-user"></span> <strong>My Page</strong></a></li>
						<li><a href="/users/logout_complete"><span class="glyphicon glyphicon-log-out"></span> <strong>Log Out</strong></a></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->
<br><br><br>
<!-- 개인정보 보여주기 start-->
	<div class="content-profile">
		<div class="clearfix">
			<h2><span id="nickname" class="form-inline"><%= @user_info.nickname %></span><a href="#" onclick="return changeNickname()" class="btn btn-pink">변경하기</a></h2>
		</div>
		<div class="area-contact">
			<h3>연락 정보<sup style="color: #fd6a70; cursor: pointer" title="튜터와 튜티 간 연결을 위해 올바른 연락처가 필요합니다">*</sup></h3>
			<div class="row">
				<div class="col-md-3">
					<label>등록 된 전화번호</label>
				</div>
				<div class="col-md-9 contact-value">
					<%= @user_info.phone %><a href="javascript:void(0)" id="btn-register-phone" class="btn btn-pink">변경하기</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>등록 된 이메일</label>
				</div>
				<div class="col-md-9 contact-value">
					<%= @user_info.email %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>가입한 날짜</label>
				</div>
				<div class="col-md-9 contact-value">
					<%= @user_info.created_at %>	            	
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>계정 정보</label>
				</div>
				<div class="col-md-9 contact-value">
					페이스북 로그인 사용중(아직 미구현)
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>호스트 한 Voluntal</label>
				</div>
				<div class="col-md-9 contact-value">
					<a href="/voluntal/show/">바로가기</a>
				</div>
			</div>
		</div>
	</div>
<!-- 개인정보 보여주기 end-->
 
     
</body>