<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>title </title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript end-->
	
	<style type="text/css">

		
	</style>
	
</head>
<body>

<!-- 회원가입 기능 start -->
	<div class="container">
		<h3>회원 가입</h3>
		<form action="/users/signup_complete" method="post">
			<div>
				Email : <input type="text" name="email">	
			</div>
			<div>
				Password : <input type="password" name="password">
			</div>
			<div>
				Password Confirm : <input type="password" name="re_password">
			</div>
			<div>
				Phone : <input type="text" name="phone" placeholder="  -를 빼고 입력하세요">
			</div>
			<div>
				Nickname : <input type="text" name="nickname" placeholder="닉네임을 입력하세요">
			</div>
			<div>
				<input type="submit" value="회원가입">
			</div>
	</div>
<!-- 회원가입 기능 end -->
</body>
</html>
