<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title><% content_for :title, "Voluntal::Join" %></title>
	<!-- YJ CSS file-->
		<link rel="stylesheet" href="stylesheets/voluntal.css">
		<link type="text/css" rel="stylesheet" href="stylesheets/colorbox.css"/>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!--WB CSS file -->
		<link type="text/css" rel="stylesheet" href="stylesheets/style_lightbox.css"/>
		<script type="text/javascript" src="javascripts/tinybox_lightbox.js"></script>
	<!-- Bootstrap core JavaScript start-->
		<link href="stylesheet/bootstrap.css" type="text/css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<!-- Bootstrap core JavaScript end-->
</head>
<body>
<!-- 회원가입 기능 start -->
	<div class="form-inline" align="center">
		<h4>Voluntal에 오신것을 환영합니다!</h4>
		<p><strong style="color:#ff751a">Voluntal</strong>은 재능과 봉사활동을 나눠가는 서비스입니다.</p>
		<form action="/users/signup_complete" method="post" enctype="multipart/form-data" class="form-horizontal">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="form-group col-md-10">
					<input type="text" name="email" placeholder="Email" class="form-control input-sm">	
				</div>
				<div class="col-md-1"></div>
			</div><br>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="form-group col-md-6">
					<input type="password" name="password" placeholder="Password" class="form-control input-sm" >
				</div>
				<div class="col-md-3"></div>
			</div><br>
			
			<div class="row ">
				<div class="col-md-3"></div>
				<div class="form-group col-md-6">
					<input type="password" name="re_password" placeholder="Confirm Password" class="form-control input-sm">
				</div>
				<div class="col-md-3"></div>
			</div><br>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="form-group col-md-6">
					<input type="text" name="phone" placeholder="Phone" class="form-control input-sm">
				</div>
				<div class="col-md-3"></div>
			</div><br>
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="form-group col-md-6">
					<input type="text" name="nickname" placeholder="Nickname" class="form-control input-sm">
				</div>
				<div class="col-md-3"></div>
			</div><br>
			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="form-group col-md-6">
					<label class="control-label" for="inputSmall">Profile Photo</label>
					<input type="file" class="btn btn-default" name="profile_pic" placeholder="Profile Photo" class="form-control input-sm">
				</div>
				<div class="col-md-5"></div>
			</div><br>
			
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<button type="submit" class="btn submit_button">가입하기</button>
				</div>
			</div>
			
		</form>	
	</div>
<!-- 회원가입 기능 end -->
</body>
</html>
