<!-- main content -->
<div class="container">
  <!-- introduction -->
  <div class="jumbotron">
    <h1>Hello world, Grrrr!</h1>
    <p>21세기 정글의 왕, 사자의 소굴에 오신 여러분을 환영합니다.</p>
  </div>

  <!-- profile -->
  <div id="profile-header" class="page-header">
    <h1>Profile</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div id="profile-description" class="col-md-4">
    <img id="profile-photo" src="http://codelion.net/lion.jpg" class="img-circle">
      <h3>Lionuser's profile</h3>
      <br>
      <p><strong>Lionuser</strong></p>
      <p>Born in 2013</p>
      <p>From Korea</p>
      <p>Likes hunting</p>
      <p>Loves developing</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- development -->
  <div id="development-header" class="page-header">
    <h1>Development</h1>
  </div>
  <div class="row">
    <!-- thumbnail #0 -->
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://codelion.net/index_html.png" class="img-rounded">
        <div class="caption">
          <h3>index.html</h3>
          <p>첫 번째로 제작한 웹 페이지</p>
        </div>
      </div>
    </div>

    <!-- thumbnail #1 -->
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://codelion.net/board_html.png" class="img-rounded">
        <div class="caption">
          <h3>board.html</h3>
          <p>라이언 명단 페이지</p>
        </div>
      </div>
    </div>

    <!-- thumbnail #2 -->
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://codelion.net/wiki_html.png" class="img-rounded">
        <div class="caption">
          <h3>wiki.html</h3>
          <p>HTML과 CSS를 정의하는 페이지</p>
        </div>
      </div>
    </div>
  </div>

</div>
