<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<title>Voluntal :: main</title>
	<!-- Bootstrap core JavaScript start-->
		<!--<link href="assets/stylesheet/bootstrap.css" type="text/css" rel="stylesheet">-->
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript end-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="bodysec">
<!--Vouluntal 네비게이션 바 start -->
	<nav class="navbar navbar-default navbar-fixed-top" >
		<div class="container-fluid" style="">
		    <div class="navbar-header">
			    <a href="/"><img src="http://i.imgur.com/lLUOX2C.jpg?1" alt="logo" class="img-rounded"></a>
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              		<span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
		        </button>
			</div>
			<div class="navbar-collapse collapse" id="myNavbar" style="" >
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/intro/intro"><strong>Voluntal이란?</strong></a></li>
					<li><a href="#section1" class="scroll"><strong>Volunteer</strong></a></li>
					<li><a href="#section2" class="scroll"><strong>Talent</strong></a></li>
					<li class="active"><a href="/voluntal/register"><strong>Voluntal 만들기</strong></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				    <li><a href="/addmember/addmember"><span class="glyphicon glyphicon-user"></span><strong> Sign Up</strong> </a></li>
				    <li><a href="/login/login"><span class="glyphicon glyphicon-log-in"></span><strong>  Login</strong></a></li>
				</ul>
			</div>
    	</div>
	</nav>
<!--Vouluntal 네비게이션 바 end -->

<!--111 -->
<div class="container">
	<a id="modal_trigger" href="#modal" class="btn">Click here to Login or register</a>

	<div id="modal" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Login</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>

		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<div class="">
					<a href="#" class="social_box fb">
						<span class="icon"><i class="fa fa-facebook"></i></span>
						<span class="icon_title">Connect with Facebook</span>

					</a>

					<a href="#" class="social_box google">
						<span class="icon"><i class="fa fa-google-plus"></i></span>
						<span class="icon_title">Connect with Google</span>
					</a>
				</div>

				<div class="centeredText">
					<span>Or use your Email address</span>
				</div>

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form>
					<label>Email / Username</label>
					<input type="text" />
					<br />

					<label>Password</label>
					<input type="password" />
					<br />

					<div class="checkbox">
						<input id="remember" type="checkbox" />
						<label for="remember">Remember me on this computer</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
					</div>
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form>
					<label>Full Name</label>
					<input type="text" />
					<br />

					<label>Email Address</label>
					<input type="email" />
					<br />

					<label>Password</label>
					<input type="password" />
					<br />

					<div class="checkbox">
						<input id="send_updates" type="checkbox" />
						<label for="send_updates">Send me occasional email updates</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
<!--222-->

<!-- Voluntal 캐러셀 start-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" >
		<!-- Indicators start -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- Indicators end -->
		<!--Wrapper for slides start -->
		<div class="carousel-inner" role="listbox" align="center">
			<div class="item active">
				<img class="first-slide" src="http://i.imgur.com/YQEYTt8.jpg" alt="First slide" border="3px" width="" height="" align="center">
				<div class="container">
					<div class="carousel-caption">
						<h1>날아라 슈퍼보드!</h1>
						<p>우리도 할 수 있습니다. <code>file://</code> 지금 당장 시작하세요.</p>
						<p><a class="btn btn-primary" href="#" role="button">회원가입</a></p>
					</div>
				</div>
			</div>
			
			<div class="item">
				<img class="second-slide" src="http://i.imgur.com/riUsuhl.jpg" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>외국에서도</h1>
						<p>외국에서도 우리의 김치는 널리 알려퍼지고 있습니다.</p>
						<p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
					</div>
				</div>
			</div>
			
			<div class="item">
				<img class="third-slide" src="http://i.imgur.com/yRRiMY3.jpg" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>핫도그 먹구싶엉...</h1>
						<p>두유 라이크 핫덬?</p>
						<p><a class="btn btn-primary" href="#" role="button"><span class="glyphicon glyphicon-thumbs-up"/> Like!</a></p>
					</div>
				</div>
			</div>
		</div>
		<!--Wrapper for slides end-->

		<!--- 좌우 화살표 버튼 start -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> 
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
			<span class="sr-only">Previous</span>
		</a> 
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!--- 좌우 화살표 버튼 end -->
	</div>	
<!-- Voluntal 캐러셀 end-->

<hr class="featurette-divider" id="section1" ><br>
<div class="container">
    <div class="container" align="center">
        <h2>Voluntal</h2>
        <h4>봉사을 나누어 드립니다</h4>
    </div>
</div>
<br><hr class="featurette-divider" >

<!-- Voluteer 랩퍼 start-->
	<nav class="navbar navbar-wrapper container-fluid" >
		<div class="container">
			<div class="container marketing">
				<!-- Three columns of text start -->
				<div class="row"  >
					<div class="col-md-4"style="border:20px 10px 20px 10px; width: 150px height: 150px; background:url('http://i.imgur.com/94Gukbz.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p>	<a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
					
					<div class="col-md-4"style="border:0px 1px 0px 1px; width: 150px  height: 150px; background:url('http://i.imgur.com/dCKv7Btb.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p> <a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
	
					<div class="col-md-4"style="border:0px 1px 0px 1px; width: 150px  height: 150px; background:url('http://i.imgur.com/0QO3pUQ.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/bnQ8Xbh.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p><a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a></p>
					</div>	<!-- /.col-md-4 -->
				</div><!-- row end -->
				<!-- Three columns of text end-->
				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/94Gukbz.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p>	<a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
					
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/dCKv7Btb.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p> <a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
						
					<div class="col-md-4"style="width: 150px   height: 150px; background:url('http://i.imgur.com/0QO3pUQ.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/bnQ8Xbh.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p><a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a></p>
					</div>	<!-- /.col-md-4 -->
				</div><!-- row end -->
				<!-- Three columns of text end-->
			</div>
		</div>
	</nav>
<!-- Voluteer 랩퍼 end-->

<hr class="featurette-divider" id="section2" ><br>
<div class="container">
    <div class="container" align="center">
        <h2>Talent</h2>
        <h4>재능을 나누어 드립니다</h4>
    </div>
</div>
<br><hr class="featurette-divider" >
	
<!-- Talent 랩퍼 start-->
	<nav class="navbar navbar-wrapper container-fluid" >
		<div class="container">
			<div class="container marketing">
				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4" style="width: 150px  height: 150px; background:url('http://i.imgur.com/94Gukbz.jpg')">
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p>	<a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
					
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/dCKv7Btb.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p> <a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
						
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/0QO3pUQ.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/bnQ8Xbh.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p><a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a></p>
					</div>	<!-- /.col-md-4 -->
				</div><!-- row end -->
				<!-- Three columns of text end-->
				<!-- Three columns of text start -->
				<div class="row">
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/94Gukbz.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p>	<a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
					
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/dCKv7Btb.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/UH0DXux.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p> <a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a> </p>
					</div><!-- /.col-md-4 -->
						
					<div class="col-md-4"style="width: 150px  height: 150px; background:url('http://i.imgur.com/0QO3pUQ.jpg')" >
						<img class="img-circle"src="http://i.imgur.com/bnQ8Xbh.jpg"alt="Generic placeholder image"width="140" height="140">
						<font color="white" face="맑은고딕">
							<h4>사람하는 사람과 함께 즐기는 재밌고 유익한 물감 심리치료</h4>
							<h3>다양한 물감을 이용한 심리치료</h3>
						</font>
						<p><a class="btn btn-default" href="#" role="button"> 자세히 보기&raquo;</a></p>
					</div>	<!-- /.col-md-4 -->
				</div><!-- row end -->
				<!-- Three columns of text end-->
			</div>
		</div>
	</nav>
<!-- Talent 랩퍼 start-->

<hr class="featurette-divider" id="testing2">

<!-- Voulutal Footer start -->
	<footer class="footer footer-fixed-bottom">
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
    </footer>
<!-- Voulutal Footer end -->


				<!--<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
				<script src="../../dist/js/bootstrap.min.js"></script>
				<script src="../../assets/js/vendor/holder.js"></script>-->
				
<!-- jquery스크롤 coding start -->
<script>
  jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
                  event.preventDefault();
                  $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
          });
  });
</script>
<script>
// Plugin options and our code
$("#modal_trigger").leanModal({
		top: 100,
		overlay: 0.6,
		closeButton: ".modal_close"
});

$(function() {
		// Calling Login Form
		$("#login_form").click(function() {
				$(".social_login").hide();
				$(".user_login").show();
				return false;
		});

		// Calling Register Form
		$("#register_form").click(function() {
				$(".social_login").hide();
				$(".user_register").show();
				$(".header_title").text('Register');
				return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function() {
				$(".user_login").hide();
				$(".user_register").hide();
				$(".social_login").show();
				$(".header_title").text('Login');
				return false;
		});
});
</script>
<!-- jquery스크롤 coding end -->
</div>
</body>
</html>
