.basicfont{
 font-family: '맑은 고딕', 'Malgun Gothic', verdana;
 font-size : 3rem;
 font-weight : 1px;
 color : #CFE9D3v;
 
}
.CreateVoluntal{
    background-color : #FFFFFF;
    font-family: '맑은 고딕', 'Malgun Gothic', verdana;
    img{max-width:100%;}
}

.howbox{
    background-color : #FF7648;
    font-size : 25px;
    width:300px;
    height:40px;
    padding:px;
    border-radius :10px;
}

.voluntalflow{
 //background-color : #FF7648;
    color : #FF7648;
    font-size : 20px;
    img{max-width:100%;}
}

.logoimage{
    width:190px;
    height:50px;
    background-image:url(Voluntal-logo2.png);
    background-position:center;
    background-size:cover;
    img{max-width:100%;}
}

.headbox{
    width:1663px;
    height:50px;
    font-family: '맑은 고딕', 'Malgun Gothic', verdana;
    color : #FF7648;
    font-size : 14px;
    font-weight : bold;
    background-color:#FFFFFF;
}

.middletoolbar{
   width:1170px;
   height:92px;
   background-color:#FF7648;
   border-radius :10px;
    max-width:100%;
    max-height:100%;
    img{max-width:100%;}
}

.imagebox{
    width:320px;
    height:180px;
}


.volunteerelement1{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639055/_black_hnfq0v.jpg");
}

.volunteerelement2{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639055/_mento_ge6v1s.jpg");
}

.volunteerelement3{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639055/_faint_ohdqfi.jpg");
}

.volunteerelement4{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639055/_volunteer_zmzwnz.jpg");
}

.volunteerelement5{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639055/_foot_czovl9.jpg");
}

.volunteerelement6{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639055/_food_uernux.jpg");
}


.talentelement1{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639002/_flower_kv0ktz.jpg");
}

.talentelement2{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}    
    background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463637233/skate_ce5oln.jpg");
}

.talentelement3{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
    background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639002/_gitar_ekvhik.jpg");
}

.talentelement4{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
      background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639003/_swim_zhtgcn.jpg");
}
.talentelement5{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%; }
    background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639002/_earth_g48aq4.jpg");
}
.talentelement6{
    width:320px;
    height:180px;
    //background-position:center;
    background-size:cover;
    img{max-width:100%;}
    background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463639002/_bracelet_j8gomz.jpg");
}


.smallimage{
 //    background-image:url(test.jpg);
 height:150px;
 width:150px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
     img{max-width:100%;}
}

.firstslide{
    background-position: center;
    background-size: cover;
  //  background-image:url(springblooms.jpg);
  background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463637231/springblooms_xol4vi.jpg");
    width:1663px;
    height:650px;
        max-width:100%;
    max-height:100%;
    img{max-width:100%;}
}

.secondslide{
    background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463637231/youngcouplewide_awq4fk.jpg");
    background-position: center;
    background-size: cover;
    width:1663px;
    height:650px;
    max-width:100%;
    max-height:100%;
}

.thirdslide{
    background-image:url("http://res.cloudinary.com/dszrkgsd0/image/upload/v1463637233/skate_ce5oln.jpg");
    background-position: center;
    background-size: cover;
    width:1663px;
    height:650px;
    max-width:100%;
    max-height:100%;
    img{max-width:100%;}    
}

