<h1> Add a new member </h1>
	<form action="/addmember/voluntalinfo_process" method="post">
		Email : <input type="email" name="email"><br>
		Password : <input type="password" name="password"><br>
		Phone : <input type="text" name="phone" placeholder="-를 빼고 입력하세요"><br>
		<input type="submit" value="회원가입">
	</form>